* {
    font-size: large;
}

header {
    display: flex;
}

#timer {
    margin-left: auto;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

#highScoreDiv {
    text-align: center;
    padding-top: 50px;
}

#content-wrapper {
    padding-top: 100px;
    padding-bottom: 50px;
}

button {
    border-radius: 5px;
    background-color: aqua;
}

button:hover {
    text-decoration: underline;
    border: 3px solid black;
}

h2 {
    font-size: 35px;
    text-align: center;
}

h3 {
    font-size: 25px;
}

p { 
    font-size: 25px;
}

ul {
    list-style: none;
}

li {
    padding: 10px;
    margin: 10px;
    background-color:cornflowerblue ;
    border-radius: 5px;
}